<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->





<!-- bootstrap css -->
<link rel="stylesheet" href="css2/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css2/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css2/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">







    <!-- Title -->
    <title> Resta  - Hotel </title>

    <!-- Favicon -->
    <link rel="icon" href="./R-IMG/Resta logo.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>

    <!--  nav bar  -->
 <!-- header -->
 <header>
    <!-- header inner -->
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo">
                         <a href="index.html"><img src="R-IMG/background/logo.png" alt="#"  style="width: 100px;"></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto" style="margin-top: 20px;">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                         </li>
                         <!-- <li class="nav-item">
                            <a class="nav-link" href="/room">Rooms</a>
                         </li> -->
                         <li class="nav-item">
                            <a class="nav-link" href="/F&B">F&B</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                         </li>
                         
                        
                         <li class="nav-item">
                            <div class="menu-btn" >
                                <a href="/reservation" class="det-btn" style="display: flex; justify-content: center; align-items: center; background-color: #85714D; font-size: 15px ; color: white; border: 2px solid #85714D; width: 170px ; height: 30px;"  >Make a Reservation</a>
                            </div> </li>
                      </ul>
                   </div>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- end header inner -->
 <!-- end header -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(./R-IMG/About/4.jpg);">
        <div class="bradcumbContent">
            <h2>About us</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-text mb-100">
                        <div class="section-heading">
                            <div class="line-"></div>
                            <h2 style="color: #85714D;"> Place To Remember</h2>
                        </div>
                        <p style="font-size: 18px;">
                            Resta Hotel Port Said Located at the entrance of the Suez Canal, Has views of the Canal and the Mediterranean Sea...
                             Resta Hotels & Resorts is owned by the Arab International Company for Hotels & Tourism, one of the Egypt’s leading tourism developers for the last 35 years, 
                             which owns several successful projects and properties, managed by international renowned hotel operators.
                            The Hotel Offers Sweeping View Across The Water And Out To The Mediterranean Sea As Well As A Choice Of 
                            International Restaurant , WI-FI And An Outdoor Swimming Pool .

                        </p>
                        <!-- <a href="#" class="btn palatin-btn mt-50" onclick="document.getElementById('id01').style.display='block'" style="width: 200px;">Read More</a> -->
                    </div>
                </div>



                
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="./R-IMG/background/12.jpg" alt="" style="margin-top: 20px ; width: 1000px; height: 400px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Milestones Area Start ##### -->
    <section class="our-milestones section-padding-100-0 bg-img bg-overlay bg-fixed" style="background-image: url(./R-IMG/background/11.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-center white">
                        <div class="line-"></div>
                        <h2>Our Milestones</h2>
                        <p> Featuring a stunning location near the Mediterranean Sea, Resta Hotel overlooks passing boats and ships right at the entrance of the Suez Canal. It features a contemporary building and an outdoor pool.
                            
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="scf-text">
                            <i class="icon-cocktail-1"></i>
                            <h2><span class="counter">2</span></h2>
                            <p>View</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="scf-text">
                            <i class="icon-swimming-pool"></i>
                            <h2><span class="counter">1</span></h2>
                            <p>Pool</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="scf-text">
                            <i class="icon-resort"></i>
                            <h2><span class="counter">110</span></h2>
                            <p>Rooms</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <div class="scf-text">
                            <i class="icon-restaurant"></i>
                            <h2><span class="counter">2</span></h2>
                            <p>Restaurant & Cafe </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Milestones Area End ##### -->

    <!-- ##### Hotels Area Start ##### -->
    <section class="our-hotels-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2 style="color: #85714D;">Our Hotel</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Swimming pool, Pool/Beach towels, Outdoor pool (seasonal), Outdoor pool</h6>
                            <h6><span class="fa fa-check"></span>Fruit, Bottle of water, Breakfast in the room, Bar, Restaurant </h6>
                            <h6><span class="fa fa-check"></span>Free!WiFi is available in all areas and is free of charge.</h6>
                        </div>
                        <div class="hotel-img">
                            <img src="./R-IMG/background/resta-port-said-hotel_888888.jpg" alt="" style="height: 380px ;">
                        </div>
                    </div>
                </div>
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Free!Free private parking is available on site (reservation is not needed).</h6>
                            <h6><span class="fa fa-check"></span> ATM on site, Baggage storage, Currency exchange, 24-hour front desk</h6>
                            <h6><span class="fa fa-check"></span>Daily housekeeping, Ironing service,Dry cleaning, Laundry    </h6>
                        </div>
                        <div class="hotel-img">
                            <img src="./R-IMG/1.jpg" alt="" style="height: 380px ;">
                        </div>
                    </div>
                </div>
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Fax/Photocopying, Meeting/Banquet facilities</h6>
                            <h6><span class="fa fa-check"></span> Air conditioning, Safe, Elevator, Hair/Beauty salon, Non-smoking rooms, Room service              </h6>
                            <h6><span class="fa fa-check"></span>Languages Spoken	English, Arabic  </h6>
                        </div>
                        <div class="hotel-img">
                            <img src="./R-IMG/6.jpg" alt="" style="height: 380px ;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hotels Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area section-padding-100 bg-img" style="background-image: url(img/core-img/pattern.png);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-content">
                        <div class="section-heading text-center">
                            <div class="line-"></div>
                            <h2 style="color:#85714D ;">What Clients Say</h2>
                        </div>
                        
                        <!-- Testimonial Slides -->
                        <div class="testimonial-slides owl-carousel" style="font-size: 18px;">
                            <% if (opin.length > 0) { %>
                                <% for (let opinions of opin) { %>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial" style="font-size: 18px;">
                                <p><%= opinions.opinion %></p>
                                <h6><%= opinions.name %>, <span><%= opinions.job %></span></h6>
                                <img src="<%= opinions.image %>" alt="">
                            </div>
                            
                            <% } %>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->


<!--   footer   -->

<%- include('../includes/footer.ejs')  %>   





    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>